.container {
  background-color: #0b0b42;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.image {
  width: 250px;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.submit__button {
  width: 170px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.submit__button:hover {
  background-color: white;
  border-color: black;
  color: black;
}

.image__container {
  display: flex;
  gap: 30px;
}
